<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="#">
      <i class="fa fa-codiepie fa-lg" aria-hidden="true"></i>oachRadar
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Become a Coach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sign up</a>
            </li>
        </ul>
      </div>
    </nav>

    <section class="header">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-6 text-center">About Us</h1>
          <p class="lead text-center">The go-to booking platform connecting parents and kids<br>with trusted sports coaches in Singapore</p>
        </div>
      </div>
    </section>
    <section class="information">
      <div class="container">
        <p class="text-center">
        Founded by a team of local ex-athletes. CoachRadar exists to make it simple, safe and affordable for parents to connect with experienced and dedicated sports coaches in Singapore who can help your kids develop their talents and achive their athletic goals. CoachRadar connects users with trusted and vetted sports coaches via a simple-to-use web platform - users can search, compare and book lessons with your desired coaches in under a few minutes. Coaches profiles comes with reviews from other parents and detailed information on lessions.
        </p>
      </div>
    </section>
      <section class="icon-and-text">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0  col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 with-border">
              <i class="fa fa-address-card-o fa-5x" aria-hidden="true"></i>
              <h5 class="benefit">Verified Reviews<br>From Other Parents</h5>
            </div>
            <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 with-border1">
              <i class="fa fa-shield fa-5x" aria-hidden="true"></i>
              <h5 class="benefit">Access to<br>Trusted Coaches</h5>
            </div>
            <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0 with-border">
              <i class="fa fa-eye fa-5x" aria-hidden="true"></i>
              <h5 class="benefit">No Hidden<br>Charges</h5>
            </div>
            <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-0 col-md-3 col-lg-3 offset-lg-0 col-xl-3 offset-xl-0">
              <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
              <h5 class="benefit">Earn Rewards<br>As You Use</h5>
            </div>
          </div>
        </div>
      </section>
      <hr>

      <section class="slogan">
        <div class="container">
          <h3 class="text-center">Develop your kid's talents today!</h3>
          <div class="row justify-content-center row-top">
            <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
              <div class="media">
                <h1 class="align-self-center mr-3">1</h1>
                <div class="media-body">
                  <h3 class="mt-0">Find your ideal coach</h3>
                  <p class="mb-0">Search our extensive network of coaches across a wide range of sports and choose your desired coach based on rating, location and price.</p>
                </div>
              </div>
            </div>
            <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
              <div class="media">
                <h1 class="mt-4 mr-3">2</h1>
                <div class="media-body">
                  <h3 class="mt-0">Request booking</h3>
                  <p class="mb-0">Request booking with your desired coach for your preferred lesson type and schedule. After your booking is confirmed and payment is made, you'll receive each other's contact information for you to ask futher questions or request scheduling changes.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center row-bottom">
            <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
              <div class="media">
                <h1 class="align-self-center mr-3">3</h1>
                <div class="media-body">
                  <h3 class="mt-0">Embark on the lesson</h3>
                  <p class="mb-0">Now your kid is ready to embark on his/her training journey!
                  With every session, your kid will learn new skills, gain confidence and improve his/her athletic abilities.</p>
                </div>
              </div>
            </div>
            <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0">
              <div class="media">
                <h1 class="mt-4 mr-3">4</h1>
                <div class="media-body">
                  <h3 class="mt-0">Leave Review</h3>
                  <p class="mb-0">After the lesson with our coaches, please leave a review to provide constructive feedback for our coaches and other parents! At CoachRadar, we believe in fostering a close-knit community of parents and coaches with the common goal of benefiting our kids and improving the sports scene in Singapore!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="slider">
          <h2 class="what-parents-say">What parents say</h2>
          <div class="row justify-content-center">
              <div id="carouselParent" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselParent" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselParent" data-slide-to="1"></li>
                  <li data-target="#carouselParent" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                      <div class="row justify-content-md-center">
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Jia Ling & Yan Shen</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample1.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">John & XiaoLing</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample2.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Minh & Ha</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row justify-content-md-center">
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample3.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Andy & Tristy</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample4.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Binh & Meng</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample5.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Kim & Leo</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row justify-content-md-center">
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample6.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Jia Ling & Yan Shen</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample7.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">John & XiaoLing</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-10 offset-1 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-4 offset-xl-0">
                          <div class="media">
                            <img class="align-self-start mr-3 img-thumbnail" src="/assets/sample8.jpeg" alt="Generic placeholder image">
                            <div class="media-body box-media">
                              <h5 class="mt-0">Minh & Ha</h5>
                              <p><q>Our interior designer recommended by Quan-wast was very on the ball and responsive. With great chemistry, we could trust them in our home.</q></p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </section>
      <section class="footer">
        <div class="row">
          <div class="col-10 offset-2 col-sm-10 offset-sm-2 col-md-5 offset-md-1 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0">
            <div class="card-custom">
              <div class="card-body">
                <h5 class="card-title-custom"><span><i class="fa fa-codiepie fa-lg" aria-hidden="true"></i>oachRadar</span></h5>
                <p class="card-text">CoachRadar 2018,all rights reserved</p>
              </div>
            </div>
          </div>
          <div class="col-10 offset-2 col-sm-10 offset-sm-2 col-md-6 offset-md-0 col-lg-6 offset-lg-0 col-xl-3 offset-xl-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sports</h5>
                <p class="card-text">We have wide variety of sports categories</p>
                <a href="#" class="card-link-custom">Basketball <span class="space-hidden">|</span></a>
                <a href="#" class="card-link-custom">Football <span class="space-hidden">|</span></a>
                <a href="#" class="card-link-custom">Badminton <span class="space-hidden">|</span></a>
                <a href="#" class="card-link-custom">Swimming</a>
              </div>
            </div>
          </div>
          <div class="col-10 offset-2 col-sm-10 offset-sm-2 col-md-5 offset-md-1 col-lg-5 offset-lg-1 col-xl-2 offset-xl-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Coach</h5>
                <p class="card-text">Want to be a coach?</p>
                <a href="#" class="card-link-custom">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-10 offset-2 col-sm-10 offset-sm-2 col-md-6 offset-md-0 col-lg-6 offset-lg-0 col-xl-2 offset-xl-0">
            <div class="card">
              <div class="card-body">
               <h5 class="card-title">About</h5>
                <p class="card-text">Know about us here</p>
                <a href="#" class="card-link-custom">About us</a>
              </div>
            </div>
          </div>
          <div class="col-10 offset-2 col-sm-10 offset-sm-2 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-2 offset-xl-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">Get in touch with us</p>
                <a href="#" class="card-link-custom">Contact</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row end-foot">
          <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-4 offset-md-1 col-lg-4 offset-lg-1 col-xl-4 offset-xl-0">
            <a href="#" class="link-end-foot">Terms of Use </a><a href="#" class="link-end-foot"> Privacy Policy</a>
          </div>
          <div class="icon-left col-10 offset-1 col-sm-10 offset-sm-1 col-md-3 offset-md-4 col-lg-3 offset-lg-4 col-xl-3 offset-xl-5">
            <span><img src="/assets/fb.png" class="icon-fb">
            <img src="/assets/ins.png" class="icon-ins">
            <img src="/assets/twit.png" class="icon-twit"></span>
          </div>
         </div>
      </section>

    <!--End Navbar-->
    <!-- Optional JavaScript -->


  </body>
</html>
